<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- <div style="padding-left: 10px;" ><a routerLink="/" class="navbar-brand"> Employee Management</a></div> -->
        <div class="Heading"> Employee Management </div>

        <ul class="navbar-nav">

        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">


            <!-- <li> <a *ngIf="!this.basicAuthenticationService.isUserLogedIn()" routerLink="/" class="nav-link">User Login</a> </li> -->

            <li> <a *ngIf="router.url === '/AdminLogin'" routerLink="/" class="nav-link">User Login</a> </li>

            <li> <a *ngIf="(router.url === '/' || router.url === '/login')" routerLink="/AdminLogin"
                    class="nav-link">Admin Login</a> </li>

            <li> <a *ngIf="this.basicAuthenticationService.isUserLogedIn()" routerLink="/logout"
                    class="nav-link">Logout</a> </li>
        </ul>
    </nav>
</header>