<h1>Update</h1> 

<div class="container">
     <div class="alert alert-light" *ngIf="UpdateForm.invalid">Please Enter All Values</div> 
    <form (ngSubmit)="!UpdateForm.invalid && password()" #UpdateForm="ngForm">
    
    <fieldset class="form-group">
        <label class="form-label" >New Password : </label>
        <input type="text" class="form-control" name="password" [(ngModel)]="User.password" required="required">
        <br>
    </fieldset> 

    <button type="submit" class="btn btn-success">Save</button>

</form>
</div>

