<section class="vh-50">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong cardShadow" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-3" style="font: 3em sans-serif;">Oops</h3>
              There seems to be a problem
              <br>
              <br>
              <a routerLink="/" class="navbar-brand" class="btn btn-secondary">Take Me Home </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
